.placeForInputField {
    text-align: center;
    margin: 10px;
}

.DateAndDayWrapper {
    display: flex;
    justify-content: space-around;
}

.noteInputFieldWrapper {
    /* display: flex; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.primaryButton {
    background-color: rgb(0, 199, 0);
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

#NoteField {
    width: 500px;
    height: 300px;
}

.placeForEveryThing {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.DivAround {
    background-color: rgb(202, 253, 236);
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    margin: 10px;
}

.InnerDivRowClass {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    /* background-color: rgb(202, 253, 236); */
}

.NoteDiv {
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}