/*THE GAME TAKES THE WHOLE WIDTH OF THE PAGE*/
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}